<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Create New Listing</h2>
            <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" name="listing[title]" placeholder="Add a catchy title" type="text"
                        class="form-control" required />
                    <div class="invalid-feedback">
                        Title is required
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control"
                        placeholder="Write something about your property..." required></textarea>
                    <div class="invalid-feedback">
                        Please provide a description
                    </div>
                </div>

                <!-- Amaan message -> I think, Adding image url is necessary else throws error -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input id="image" name="listing[image]" type="file" class="form-control" required/>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="listing[price]" class="form-control" type="number" min="0"
                            placeholder="0.00" required />
                        <div class="invalid-feedback">
                            Please enter a valid price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" name="listing[country]" placeholder="India" type="text" class="form-control"
                            required />
                        <div class="invalid-feedback">
                            Please provide a country name
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" name="listing[location]" placeholder="Jabalpur, MP" type="text"
                        class="form-control" required />
                    <div class="invalid-feedback">
                        Please provide a location
                    </div>
                </div>

                <!-- dropdown for category -->
                <!-- <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" name="listing[category]" class="form-control" required>
                        <option value="">Select a category</option>
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic cities">Iconic cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing pools">Amazing pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                    </select>
                </div> -->

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="latitude" class="form-label">Latitude</label>
                        <input id="latitude" name="listing[latitude]" placeholder="28.6139" type="number" step="any"
                            class="form-control" required />
                        <div class="invalid-feedback">
                            Please provide latitude
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="longitude" class="form-label">Longitude</label>
                        <input id="longitude" name="listing[longitude]" placeholder="77.2090" type="number" step="any"
                            class="form-control" required />
                        <div class="invalid-feedback">
                            Please provide longitude
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark add-btn mt-3" type="submit">Add Listing</button>
            </form>
        </div>
    </div>

    <script>
        // Bootstrap form validation
        (function () {
            'use strict'

            // Fetch the form we want to validate
            const form = document.querySelector('.needs-validation')

            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })()
    </script>